<div class="container">
  <div class="about">
    <div class="row">
      <div class="col l6">
        <img class="col l11"src="financial.jpg">
      </div>
    <p class="left-align">
      A CPA (license number 45845 in state of Virginia) with MS in Financial Analysis and BS in accounting with over 8 years of experience in both private and government contracting as well as non-profit accounting. Knowledgeable in GAAP, IRS Codes, SEC
        Regulations and Sarbanes-Oxley Act. Expert in Quick books and JAMIS Prime time and expense, project management and General Ledger system. Worked with director of Finance in developing budgets. Provided monthly analysis of results and trends and
        provided forecasts. Developed monthly reporting package. Supported Project managers with project data and analysis. Supported executives with key decision making information and recommendations. In charge of day to day accounting functions to
        include A/R, A/P, monthly close. Worked on integration and consolidation for finance. Foster team environment. Worked on various accounting policies like travel policy and employee reimbursement policy.
    </p>
  </div>
  </div>
</div>
