<div class="contact">
  <div class="row valign">
    <div class="valign-wrapper col offset-l3">
      <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i><a class=" truncate" href="https://www.linkedin.com/in/shaun-adyani-cpa-msfa-a58685111/" target="_blank"><span class="col offset-1l"></span>linkedin.com/in/shaun-adyani-cpa</a>
    </div>
  </div>
  <div class="row valign">
    <div class="valign-wrapper col offset-l3">
      <i class="fa fa-envelope fa-2x" aria-hidden="true"></i><a href="mailto:adyani.shaun@gmail.com" target="_top"><span class="col offset-1l"></span>adyani.shaun@gmail.com</a>
    </div>
  </div>
  <div class="row valign">
    <div class="valign-wrapper col offset-l3">
      <i class="fa fa-phone-square fa-2x" aria-hidden="true"></i></i><span class="col offset-1l"></span><p>703-309-7823</p>
    </div>
  </div>

</div>
