<div class="home">
  <div class=" container col s10 m7 ">
    <div class="card horizontal medium z-depth-0 blue-grey lighten-5">
      <div class="card-image">
        <img src="shavak.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p class="left-align">
            Maintain and audit company financial records. Oversee budget and financial management. Perform duties related to bookkeeping, preparation of government audits, taxes, and financial planning. Recommend fiscally advantageous methods to save money. Work
            with tax returns and analyze financial information to ensure taxes are paid on time. Audit accounts for errors, misinformation, fraud, and overspending.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
