  <div class="service row">
    <div class="col l2 offset-l2">
      <ul>
        <h5>Starting a Family</h5>
        <li>Which filing status is right for you</li>
        <li>What is the "marriage penalty," anyway?</li>
        <li>Deductions and credits available for parents</li>
      </ul>
    </div>
    <div class="col l2">
      <ul>
        <h5>Buying a Home</h5>
        <li> Deductions and credits for homeowners</li>
        <li> Ins and outs of home equity loans</li>
        <li> Second homes and rental properties</li>
      </ul>
    </div>
    <div class="col l2">
      <ul>
        <h5>Owning a Business</h5>
        <li> Business organization - which type is best for your business</li>
        <li> Business tax returns for LLCs, partnerships, sole proprietorships</li>
        <li> Bookkeeping and accounting systems</li>
      </ul>
    </div>
    <div class="col l2">
      <ul>
        <h5>Retirement</h5>
        <li>401(k), IRA, SEP, or SIMPLE - which one is right for you</li>
        <li>Maximizing retirement account contributions to minimize tax bills.</li>
        <li>Planning for forced distributions from retirement accounts</li>
      </ul>
    </div>
  </div>
